@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* main{
  height: calc(100vh - 80px);
} */

input{
  outline: none;
}

.loading{
  background-image: url("./assets/images/forest-road-daylight-aesthetic-autumn-fall-sunrays-trees-5k-3840x2160-154.jpg");
  background-size: cover;
}

.footer-links > div > ul> li > a:hover{
  color: red;
  text-decoration: underline;
  transition: .2s all;
}


